<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.BoardMapper">

    <insert id="createArticle">
        insert into board (title, content, user_id) values(#{title}, #{content}, #{user_id})
    </insert>

    <select id="getArticleById" resultType="domain.Board">
        select * from board where id = #{articleId}
    </select>

    <select id="getList" resultType="domain.Board">
        select * from board
        where deleted_at is null
        order by id desc
        limit #{minArticle}, 10
    </select>

    <select id="searchList" resultType="domain.Board">
        select * from board join user
        on board.deleted_at is null
        and ${column} like concat('%', #{value}, '%') and board.user_id = user.id
        order by board.id desc
        limit #{minArticle}, 10
    </select>

    <select id="getArticleCount" resultType="Long">
        select count(*) from board
        where deleted_at is null
    </select>

    <select id="getArticleCountByColumn" resultType="Long">
        select count(*) from board join user
        where board.deleted_at is null
        and ${column} like concat('%', #{value}, '%') and board.user_id = user.id
    </select>

    <update id="updateArticle">
        update board set
        title = #{title},
        content = #{content},
        updated_at = now()
        where id = #{id}
    </update>

    <update id="increaseViews">
        update board set
        views = views + 1
        where id = #{id}
    </update>

    <update id="increaseLikes">
        update board set
        likes = likes + 1
        where id = #{id}
    </update>

    <update id="decreaseLikes">
        update board set
        likes = likes - 1
        where id = #{id}
    </update>

    <update id="softDeleteArticle">
        update board set
        deleted_at = now()
        where id = #{id}
    </update>

</mapper>