<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">

    <select id="getUserByAccountId" resultType="domain.User">
        select * from user where account_id = #{account_id}
    </select>


    <insert id="createUser">
        insert into user (account_id, password, nickname) values(#{account_id}, #{password}, #{nickname})
    </insert>

    <update id="updateUser">
        update user set
        password = #{password},
        nickname = #{nickname},
        updated_at = now()
        where account_id = #{account_id}
    </update>

</mapper>